@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --font-great-vibes: var(--font-great-vibes);
  --font-spectral: var(--font-spectral);
}

:root {
  --bg-hero: url('/assets/img/fondo.png');
  --logo: url('/assets/img/LOGO.png');
  --chestnut: #90533B;
  --harvest-gold: #DA983C;
  --dark-fern: #495235;
  --chestnut-foreground: #ffffff;
  --harvest-gold-foreground: #1a1a1a;
  --dark-fern-foreground: #ffffff;
}

@layer base {
  .bg-hero {
    background-image: var(--bg-hero);
    background-size: cover;
    background-position: center;
  }

  .logo {
    background-image: var(--logo);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;
  }

  body {
    font-family: var(--font-spectral); /* o --font-kristi */
  }

  .font-great-vibes {
    font-family: var(--font-great-vibes);
  }

  .font-spectral {
    font-family: var(--font-spectral);
  }
}
