@import "tailwindcss";
@import "tw-animate-css";

:root {
  --bg-hero: url("/assets/img/fondo.png");
  --logo: url("/assets/img/LOGO.png");
  --chestnut: #dfa445;
  --harvest-gold: #dfa445;
  --dark-fern: #6e721b;
  --chestnut-foreground: #ffffff;
  --harvest-gold-foreground: #1a1a1a;
  --dark-fern-foreground: #ffffff;
  
  --color-principal: #6e721b;
  --color-neutro: #d2cbb6;
  --color-detalles: #dfa445;
}

@theme {
  --color-principal: #6e721b;
  --color-neutro: #d2cbb6;
  --color-detalles: #dfa445;
  
  --color-brand-green: #6e721b;
  --color-brand-sand: #d2cbb6;
  --color-brand-gold: #dfa445;
  
  --color-chestnut: #dfa445;
  --color-harvest-gold: #dfa445;
  --color-dark-fern: #6e721b;
}

@layer base {
  .bg-hero {
    background-image: var(--bg-hero);
    background-size: cover;
    background-position: center;
  }

  .logo {
    background-image: var(--logo);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;
  }

  body {
    font-family: var(--font-montserrat);
  }
}
