@import "tailwindcss";
@import "tw-animate-css";

:root {
  --bg-hero: url("/assets/img/fondo.png");
  --logo: url("/assets/img/LOGO.png");
  --chestnut: #90533b;
  --harvest-gold: #da983c;
  --dark-fern: #495235;
  --chestnut-foreground: #ffffff;
  --harvest-gold-foreground: #1a1a1a;
  --dark-fern-foreground: #ffffff;
}

@layer base {
  .bg-hero {
    background-image: var(--bg-hero);
    background-size: cover;
    background-position: center;
  }

  .logo {
    background-image: var(--logo);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;
  }

  body {
    font-family: var(--font-montserrat);
  }
}
